.header--teaser {
  background: url("../img/background2.jpg") no-repeat center 70%;
  background-size: cover;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
}

.teaser--content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h1,
  h2,
  h3 {
    color: $white;
  }
}

.teaser--text {
  max-width: 40%;
  min-width: 280px;
  line-height: 2.4rem;
  padding: 20px;
  margin-top: 2.0rem;
  margin-bottom: 2.0rem;

  h1 {
    padding: 0;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}